
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.job-notifications {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.job-notifications img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.job-notifications img:hover {
    transform: scale(1.05);
}
